body {
  font-family: Rajdhani,Arial,sans-serif;
  font-size: 100%;
}
a {
  text-decoration: none;
}
ul {
  margin:  0;
  padding: 0;
}
li {
  list-style: none;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  background: #fff;
}

/*======================Header============================*/
header {

}
.top-header {
  background-color: #c5c5c5;
}
.wrapper-carousel .bx-wrapper .bx-pager {
  /*position: absolute;*/
  text-align: right;
  bottom: 5px;
  right: 100px;
}
.wrapper-carousel .bx-wrapper .bx-pager.bx-default-pager a {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: #c5c5c5;
  border: 1px solid #010202;
}
.carousel-item li {
  text-align: center;
}
.carousel-item li p {
  margin: 5px;
}
.carousel-item li a {
  color: #fff;
  font-weight: 700;
  font-size: .75;
  text-transform: uppercase;
}
.container {
  position: relative;
}
.poster {
  position: absolute;
  bottom: 33%;    /*290px*/
  left: 15%;       /*200px*/

}
.h1 {
  font-size: 2.2em;
  color: #000;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding: 0 15px;
  text-align: center;
}
span {
  font-weight: 700;
}
.h2 {
  color: #000;
  font-size: 1.5em;
  font-family: 'Courier New';
  text-transform: uppercase;
  margin: 10px 0 60px;
  text-align: center;
}
.confira {
  text-transform: uppercase;
  border: 2px solid #393939;
  font-size: 1.5em;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  color: #000;
  margin: 0 90px;
}
/*======================Navigation============================*/
nav {
  background-color: #000;
}
/*External View Menu*/
.menu {
  width: 100%;
  margin: 20px;
}
.menu a {
  color: #fff;
  background: #3d3d3d;
  display: block;
  border-bottom: 1px solid #666;
  transition: .5s;
  padding-left: 15px;
}
.menu a:hover {
  background: #666;
}
/*Drop-down Menu*/

.menu-list {
  position: relative;
  display: inline-block;
  width: 19%;
}
.menu-drop {
  position: absolute;
  width: 100%;
  top: 100%;
  opacity: 0;
  display: none;
  transition: 1s opacity;
  /*border-top: 7px solid transparent;*/
}
.menu-list:hover .menu-drop {
  opacity: 1;
  display: block;
  transition: 1s;
}
/*Haedlines*/

.h2-nav {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.875em;
  margin: 0;
  padding: 10px 10px;
}
.h3 {
  color: #fff;
  font-size: 1.625em;
  font-weight: 500;
  float: right;
  text-transform: uppercase;
}
.icon-menu {
  width: 32px;
  height: 22px;
  color: #fff;
}
/*======================Products-slider============================*/
main {
   max-width: 1220px;
   margin: 0 auto;
}
.subtitle {
  text-align: center;
  position: relative;
}
h3.department {
  color: #393939;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: ;      
}
.buy {
  text-align: center;
  position: relative;
}
.buy a {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  bottom: 0;
  right: 0;
  padding: 2px 0;
  opacity: 0;
  font-weight: 600;
  font-size: 1em;
}
.slider-photo:hover .buy a {
  transition: .6s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.66);
}
p.price {
  text-align: center;
  margin: 0;
  color: #000;
  font-size: 0.93em;
  font-weight: 400;
}

/*======================Categories============================*/
.logo {
  margin: 40px auto;
  display: block;
}
.photo-block {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.photo-block:nth-of-type(even) {
  float: right;
}
h2.header-categories {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 2.11em;
  text-transform: uppercase;
  text-shadow: 1px 3px 0px #141518;
}

/*======================Gallery-instagram============================*/
.magic-1 {
  text-align: justify;
  line-height: 0;
}
.magic-1:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.insta-block {
  position: relative;
  display: inline-block;
  text-align: left;
}
.cover-bg,
.likes {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.likes {
  top: 35%;
  font-size: 1.6em; 
  color: #fff;
  text-align: center;
}
.likes p {
  padding: 5px 0;
}
.insta-block:hover .likes,
.insta-block:hover .cover-bg {
  display: block;
}
.cover-bg {
  background: rgba(0, 0, 0, 0.66);
}


/*======================Show-man============================*/

.magic-2 {
  text-align: justify;
  line-height: 0;
}
.magic-2:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.man-block {
  position: relative;
  display: inline-block;
  text-align: left;
}
.photo-man {
  display: none;
  position: absolute;
  top: 40%;
  right: 29%;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
}
.man-block:hover .photo-man,
.man-block:hover .cover-bg  {
  display: block;
}

/*======================Form Registration============================*/

form {
  margin: 70px 0;
}
.button {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px 65px;
}
.newsletter {
  font-weight: 400;
  font-size: 1.2em;
  color: #393939;
  text-align: center;
  padding: 10px 80px;
  margin: 0 5px;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  background-color: rgba(153, 153, 153, 0);
  text-transform: uppercase;
}
.submit {
  color: #393939;
  font-weight: 600;
  font-size: 1.2em;
  background-color:  #d0d0d0;
  box-shadow: 2px 3px 0px 0px rgba(20, 21, 24, 0.75);
  padding: 10px 65px;
  text-transform: uppercase;
}

/*======================Footer============================*/
footer {
  background: #000;
}
.wrapper-footer {
  max-width: 1220px;
  margin: 0 auto;
  height: 36px;
}
.contacts {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
}
.contacts li {
  display: inline;
  padding: 0px 5px;
}
.contacts li a,
.social-networks li a{
  color: #fff;
}
.social-networks {
  float: right;
  font-size: 1.2em;
}
.social-networks li {
  display: inline;
  padding: 10px 1px;
}











/*======================Media============================*/

@media screen and (max-width: 40em) {
body {
  font-size: 60%;
}
.poster {
  max-width: 50%;
}

