body {
  font-family: Rajdhani,Arial,sans-serif;
  font-size: 100%;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.wrapper {
  width: 95%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  background: #fff;
}

/*======================Header============================*/
header {

}
.top-header {
  background-color: #c5c5c5;
}
.carousel-item li {
  color: #fff;
  font-weight: 700;
  font-size: 0.78em;
  text-align: center; 
}
.container {
  position: relative;
}
.poster {
  position: absolute;
  bottom: 33%;    /*290px*/
  left: 15%;       /*200px*/

}
.h1 {
  font-size: 2.2em;
  color: #000;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding: 0 15px;
  text-align: center;
}
span {
  font-weight: 700;
}
.h2 {
  color: #000;
  font-size: 1.5em;
  font-family: 'Courier New';
  text-transform: uppercase;
  margin: 10px 0 60px;
  text-align: center;
}
.confira {
  text-transform: uppercase;
  border: 2px solid #393939;
  font-size: 1.5em;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  color: #000;
  margin: 0 90px;
}
/*======================Navigation============================*/
nav {
  background-color: #000;
}
/*External View Menu*/
.menu {
  width: 100%;
  margin: 20px;
}
.menu a {
  color: #fff;
  background: #3d3d3d;
  display: block;
  border-bottom: 1px solid #666;
  transition: .5s;
  padding-left: 15px;
}
.menu a:hover {
  background: #666;
}
/*Drop-down Menu*/

.menu-list {
  position: relative;
  display: inline-block;
  width: 19%;
}
.menu-drop {
  position: absolute;
  width: 100%;
  top: 100%;
  opacity: 0;
  display: none;
  transition: 1s opacity;
  /*border-top: 7px solid transparent;*/
}
.menu-list:hover .menu-drop {
  opacity: 1;
  display: block;
  transition: 1s;
}
/*Haedlines*/

.h2-nav {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.875em;
  margin: 0;
  padding: 10px 10px;
}
.h3 {
  color: #fff;
  font-size: 1.625em;
  font-weight: 500;
  float: right;
  text-transform: uppercase;
}
.icon-menu {
  width: 32px;
  height: 22px;
  color: #fff;
}
/*======================Products-slider============================*/
main {
   max-width: 1220px;
   margin: 0 auto;
}
.subtitle {
  text-align: center;
  position: relative;
}
h3.department {
  color: #393939;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: ;      
}
.buy {
  text-align: center;
  position: relative;
}
.buy a {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  bottom: 0;
  right: 0;
  padding: 2px 0;
  opacity: 0;
  font-weight: 600;
  font-size: 1em;
}
.slider-photo:hover .buy a {
  transition: .6s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.66);
}
p.price {
  text-align: center;
  margin: 0;
  color: #000;
  font-size: 0.93em;
  font-weight: 400;
}

/*======================Categories============================*/
.logo {
  margin: 40px auto;
  display: block;
}
.photo-block {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.photo-block:nth-of-type(even) {
  float: right;
}
h2.header-categories {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 2.11em;
  text-transform: uppercase;
  text-shadow: 1px 3px 0px #141518;
}

/*======================Gallery-instagram============================*/
.insta-block {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.cover-bg,
.likes {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.likes {
  top: 35%;
}
.likes p {
  margin: 0;
}
.insta-block:hover .likes,
.insta-block:hover .cover-bg {
  display: block;
}
.cover-bg {
  background: rgba(0, 0, 0, 0.66);
}
.likes {
  font-size: 1.6em; 
  color: #fff;
  text-align: center;
}









/*======================Media============================*/

@media screen and (max-width: 40em) {
body {
  font-size: 60%;
}
.poster {
  max-width: 50%;
}

